<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center"> 
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Angular material</h2>
<div class="example-container">
	
	<section class="example-section">
		<mat-form-field>
			<mat-select id="angularSelect">
				<mat-option>None</mat-option>
				<mat-option value="option1">Option 1</mat-option>
				<mat-option value="option2">Option 2</mat-option>
				<mat-option value="option3">Option 3</mat-option>
				<mat-option value="option3">Option 4</mat-option>
				<mat-option value="option3">Option 5</mat-option>
				<mat-option value="option3">Option 6</mat-option>
				<mat-option value="option3">Option 7</mat-option>
				<mat-option value="option3">Option 8</mat-option>
				<mat-option value="option3">Option 9</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-select id="angularMultipleSelect" multiple>
				<mat-option>None</mat-option>
				<mat-option value="option1">Multiple Option 1</mat-option>
				<mat-option value="option2">Multiple Option 2</mat-option>
				<mat-option value="option3">Multiple Option 3</mat-option>
				<mat-option value="option1">Multiple Option 4</mat-option>
				<mat-option value="option2">Multiple Option 5</mat-option>
				<mat-option value="option3">Multiple Option 6</mat-option>
				<mat-option value="option1">Multiple Option 7</mat-option>
				<mat-option value="option2">Multiple Option 8</mat-option>
				<mat-option value="option3">Multiple Option 9</mat-option>
			</mat-select>
		</mat-form-field>
	</section>
	<section class="example-section">
		<mat-checkbox id="angularCheckbox" >Checked</mat-checkbox>
	</section>
	<section class="example-section">
		<mat-radio-group>
			<mat-radio-button value="1" id="angularRadio1">Option 1</mat-radio-button>
			<mat-radio-button value="2" id="angularRadio2">Option 2</mat-radio-button>
		</mat-radio-group>

	</section>
	<section class="example-section">
		<mat-slider thumbLabel tickInterval="1"></mat-slider>
	</section>
	<section class="example-section">
		<mat-form-field class="example-full-width">
			<input matInput id="angularTextField" placeholder="Text field" value="some text">
		</mat-form-field>

		<mat-form-field class="example-full-width">
			<textarea matInput id="angularTextArea" placeholder="Leave a comment"></textarea>
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let option of options" [value]="option">
					{{option}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</section>
	<section class="example-section">
		<mat-form-field>
			<input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
		</mat-form-field>

	</section>

</div>

<h2>ng-select</h2>
<div class="example-container">
	<section class="example-section">
		<ng-select id="ngSelect"
		   [items]="items"
		   bindLabel="name"
		   placeholder="Select item"
		   appendTo="body"
		   [multiple]="false"
		   >
		</ng-select>
		
		<ng-select id=ngMultipleSelect 
		   [items]="items"
		   bindLabel="name"
		   placeholder="Select item"
		   appendTo="body"
		   [multiple]="true"
			[closeOnSelect]="false"
		   [(ngModel)]="selected">
		   <ng-template ng-option-tmp let-item="item">
			<input [checked]="selected.indexOf(item) > -1" type="checkbox">
			{{item.name}}
		  </ng-template>
		   
		</ng-select>
	</section>
</div>


